.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid blue;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: salmon;
}

.apple {
  background-color: greenyellow;
}
